@model IEnumerable<Blogging.Models.AllBlogsModel>
@{
    ViewBag.Title = "Home";
    ViewData["Active_Home"] = "active";
   
}

<div class="row">
    @{
        List<string> AnimationsList = new List<string> { "bounceInLeft", "bounceInDown", "bounceInRight", "bounceInUp", "fadeInDown", "fadeInLeft", "fadeInRight", "fadeInUp", "flipInX", "flipInY", "lightSpeedIn", "slideInDown", "slideInLeft", "slideInUp", "slideInRight", "zoomIn", "zoomInDown", "zoomInUp", "zoomInLeft", "zoomInRight", "jackInTheBox" };
        var random = new Random();
        int AnimationsListIndex;

        int i = 0;
        foreach (var item in Model)
        {
            AnimationsListIndex = random.Next(AnimationsList.Count);
            ViewBag.Animation = AnimationsList[AnimationsListIndex];
            Html.RenderPartial("_SingleBlog", item);
            ViewBag.Animation = null;
            i++;
        }
    }
</div>

@section scripts{
    <script type="text/javascript" src="~/Plugins/tilt.js/tilt.js"></script>
    <script>
        $('.js-tilt').tilt({
            glare: true,
            maxGlare: .5,
        });
    </script>
}