@model IEnumerable<Blogging.Models.AllBlogsModel>
@{
    ViewBag.Title = ViewBag.CategoryDetails_Name;
    ViewData["Active_Cats_Menu_Open"] = "menu-open";
}

<h2>Related Blogs</h2>

<div class="row">
    <div class="col-12">
        <div class="info-box elevation-2">
            <span class="info-box-icon "><i class="fas fa-@ViewBag.CategoryDetails_Icon "></i></span>
            <div class="info-box-content">
                <span class="info-box-text">@ViewBag.CategoryDetails_Name</span>
                <span class="info-box-number">
                    @ViewBag.CategoryDetails_FormatedCount
                    <small>Blogs</small>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @{
        List<string> AnimationsList = new List<string> { "bounceInLeft", "bounceInDown", "bounceInRight", "bounceInUp", "fadeInDown", "fadeInLeft", "fadeInRight", "fadeInUp", "flipInX", "flipInY", "lightSpeedIn", "slideInDown", "slideInLeft", "slideInUp", "slideInRight", "zoomIn", "zoomInDown", "zoomInUp", "zoomInLeft", "zoomInRight", "jackInTheBox" };
        var random = new Random();
        int AnimationsListIndex;

        int i = 0;
        foreach (var item in Model)
        {
            AnimationsListIndex = random.Next(AnimationsList.Count);
            ViewBag.Animation = AnimationsList[AnimationsListIndex];
            Html.RenderPartial("_SingleBlog", item);
            ViewBag.Animation = null;
            i++;
        }
    }

    @if (i == 0)
    {
        <div class="alert alert-default-danger col-12" role="alert">
            Oops! No Blogs found for <strong>"@ViewBag.CategoryDetails_Name"</strong>
        </div>
    }
</div>

